

body {
    background-color: #f55;
    text-align: center;
    /* justify-content: center; */
    display: block;
    margin-top: 0.5rem;
    border: #000 solid 3px;
    height: 95vh;
}

input {
    max-width: 140px;
    border: orange solid 2px;
    margin: 0.5rem;
}

button {
    border-radius: 0.5rem;
    border-style: solid 0.5 ease;
    background-color: orangered;
}

h1{
    color: yellow;
}

a {
    text-decoration: none;
}
.return-btn {
    margin-top: 5rem;
}