
body {
    background-color: #f55;
    text-align: center;
    display: column;
    box-sizing: border-box;
    border: #000 solid 5px;
    height: 95vh;

}

a {
    text-decoration: none;
    color: yellow;
    /* text-decoration: ; */
}

li {
    list-style-type: none;
    background-color: orange;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}